.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

form {
  flex: 2;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

aside {
  flex: 1;
  min-width: 280px;
  align-self: flex-start;
  padding: 0 16px 16px;
  border: 2px solid var(--beige);
  border-radius: 8px;
}

mat-radio-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

button[type='submit'] {
  align-self: flex-start;
}
